<!-- if the formGroup is passed, then it will be used. Else not -->
<ng-container *ngIf="formGroup, else withoutForm">
    <div [formGroup]="formGroup">
        <ng-container  [ngTemplateOutlet]="inputContainer"></ng-container>
    </div>
</ng-container>

<ng-template #withoutForm>
    <div>
        <ng-container  [ngTemplateOutlet]="inputContainer"></ng-container>
    </div>
</ng-template>
  
<ng-template #inputContainer>
    <input #inputElement type="text" [formControl]="filterInputControl" class="auto-filter-input" [placeholder]="placeholder" />
    <ng-container *ngIf="filteredOptions$ | async as filteredOptions">
        <ng-container *ngIf="filteredOptions.length > 0">
            <ul   
                [style.top.px]="inputPosition.top"
                [style.left.px]="inputPosition.left"
                [style.width.px]="inputPosition.width"
                class="auto-filter-list">
                <li *ngFor="let option of filteredOptions" (click)="selectOption(option)">
                    <span [innerHTML]="highlightMatch(option)"></span>
                </li>
            </ul>
        </ng-container>
    </ng-container>
</ng-template>
